.App {
  font-family: sans-serif;
  max-width: 500px;
  margin: 25px auto;
  background: linear-gradient(-225deg, #20e2d7 0%, #f9fea5 100%);
  padding: 20px;
  border-radius: 30px;
  font-family: "Roboto", sans-serif;
}
