.UnitConversion .current-temperature {
  font-size: 40px;
}

.UnitConversion a {
  display: inline;
  text-decoration: none;
}

.UnitConversion a:hover {
  text-decoration: underline;
  color: #213458;
}

.UnitConversion p {
  margin-bottom: 10px;
}
