.Weather h1 {
  font-size: 30px;
  font-weight: 500;
}

.Weather .WeatherSearchForm {
  padding: 15px 0;
}

.Weather .WeatherSearchForm input {
  opacity: 0.33;
  border-radius: 10px;
  border: #35495e 1px solid;
  line-height: 1.5;
  font-size: 18px;
  padding-left: 10px;
}

.Weather .WeatherSearchForm button {
  opacity: 0.33;
  border-radius: 10px;
  border: #35495e 1px solid;
  line-height: 1.5;
  font-size: 18px;
  padding-left: 13px;
}
